.skillsPaper {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-image: repeating-linear-gradient(
		-45deg,
		rgba(106, 239, 139, 0.25),
		rgba(163, 39, 45, 0.25) 1px,
		transparent 1px,
		transparent 6px
	);
	background-size: 4px 4px;
}

.title {
	align-self: baseline;
}
